@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

h1{
  font-size: 30px;
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  /* background-color: olive; */
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  background-color: white;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset checkbox and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*---------------------------------
 タイポグラフィーの記述
---------------------------------*/
/*---------------------------------
 ベーススタイルの記述
---------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: "YuGothic", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "Meiryo", "Osaka", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599px) {
  .hidden-sp {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .hidden-sptab {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .hidden-pc {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .hidden-tabpc {
    display: none !important;
  }
}

/*---------------------------------
 以下、自分で追加したオリジナルCSS
---------------------------------*/
input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 69px;
  height: 69px;
}

input[type=checkbox][value="1"] + label:before {
  background-image: url(../images/icon1.png);
}

input[type=checkbox][value="2"] + label:before {
  background-image: url(../images/icon2.png);
}

input[type=checkbox][value="3"] + label:before {
  background-image: url(../images/icon3.png);
}

input[type=checkbox][value="4"] + label:before {
  background-image: url(../images/icon4.png);
}

input[type=checkbox][value="5"] + label:before {
  background-image: url(../images/icon5.png);
}

input[type=checkbox][value="6"] + label:before {
  background-image: url(../images/icon6.png);
}

input[type=checkbox][value="7"] + label:before {
  background-image: url(../images/icon7.png);
}

input[type=checkbox][value="8"] + label:before {
  background-image: url(../images/icon8.png);
}

input[type=checkbox]:checked + label::before {
  border: 3px solid red;
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

.chat-input-and-send {
  margin-top: 50px;
  padding: 0px 15px;
  font-size: 1.4rem;
}
@media screen and (min-width: 1025px) {
  .chat-input-and-send {
    font-size: 1.8rem;
  }
}
.chat-input-and-send__yourIcon {

  margin-bottom: 10px;
}
.chat-input-and-send__name input {
  border: 1px solid #696969;
}
.chat-input-and-send__text {
  border: 1px solid #696969;
  margin-top: 5px;
  margin-bottom: 5px;
}
.chat-input-and-send__send {
  text-align: center;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  padding: 0.5em 2em;
  line-height: 1.5;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  background: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255, 255, 255, 0.5) 4px, rgba(255, 255, 255, 0.5) 4px), linear-gradient(#77a2ff, #447fff);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.chat-input-and-send__send:hover {
  background: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255, 255, 255, 0.3) 4px, rgba(255, 255, 255, 0.3) 4px), linear-gradient(#77a2ff, #447fff);
}
.chat-input-and-send__send:active, .chat-input-and-send__send:focus {
  background: skyblue;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}

.chat-sent-messages-wrapper {
  padding: 0px 15px;
}

.chat-sent-messages {
  margin-top: 75px;
  overflow: auto;
  height: 300px;
  border: 6px double #696969;
}
.chat-sent-messages p {
  margin-bottom: 40px;
  font-size: 1.4rem;
}
@media screen and (min-width: 1025px) {
  .chat-sent-messages p {
    font-size: 1.8rem;
  }
}
.chat-sent-messages__yourIcon {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=styles.css.map */